body {
    font-size:2em;
}

div#board {
    height:660px;
    width:660px;
}

div#historyBlock {
    width:660px;
    /*
    position:absolute;
    top:870px;
    left:10px;
    */
    left:0;
    padding:0;
    position:relative;
    height:100px;
    overflow:auto;
}

#loadPosBtn, #clearFenBtn {
    display:none;
}

#version {
    font-size:0.5em;
}


#boardFen {
    width:530px;
    height:1.5em;
    font-size:0.8em;
}

#clearBtn {
font-size:1em;
height:2em;
}

#fenBlock span {
display:none;
}

#historyBlock {
    display:none;
    font-size:1em;
}

ul#history li {
    list-style-type:roman;
    float:left;
    margin-right:1em;
}
