body {
    padding:0em 1em;
    font-family: monospace;
    font-size:1em;
    background:#000;
    color:#0f0;
    color:#ddd;
}

input {
    color:#ddd;
}

h1 {
    font-size:1.5em;
}

a {
    text-decoration:none;
    color:#ddd;
}

input[type="button"] {
    font-family:monospace;
    border:1px solid #ccc;
    background:#888;
    padding:0.2em 0.4em;
    margin-right:0.1em;
    height:20px;
    vertical-align:middle;
}

input[type="text"] {
    font-family:monospace;
    width:360px;
    height:18px;
    border:1px solid #ccc;
    background:#111;
    padding:0.2em 0.4em;
}

input[type="checkbox"] {
    vertical-align:middle;
}
input#turnId {
    width:30px;
    text-align:right;
    border:0;
}

span.turnId {
    color:orange;
}

input#maxSearchTime, input#randomness {
    width:30px;
}

#board {
    width:400px;
    margin-bottom:1em;
}

#boardFen {
    margin-right:0.5em;
    width:420px;
    font-size:0.8em;
    height:20px;
}

div#historyBlock {
    padding:0em 1em;
    width:150px;
    position:absolute;
    top:20px;
    left:650px;
    height:97%;
    overflow:auto;
}

span#selectedMove {
    font-weight:bold;
    color:orange;
}

.ui-spinner, .ui-spinner-input {
    padding:0;
    background:#000;
    border:0;
}

#internalDataBlock {
    display:none;
}

/* chessboardjs theming */
.black-3c85d {
    background-color:#356ba2;
    color:#000;
}
.white-1e1d7 {
    background-color:#b4bcd2;
    color:#000;
}

#version {
    font-size:0.8em;
    margin-bottom:1em;
}

#fenBlock {
    margin-bottom:1em;
}

.keyword {
    color:orange;
}

ul#history li {
    list-style-type:roman;
}

ul#history li a {
    margin-right:1em;
}

select {
    border:1px solid #ddd;
    background:#000;
    color:#ddd;
}
